@model List<Alumnos_crud.Models.ViewModels.ListAlumnoViewModel>
@{
    ViewBag.Title = "Datos";
}

<h2>@ViewBag.Title</h2>

@* Vista principal donde se imprime la tabla completa *@

<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Alumno/Nuevo" class="btn btn-primary" >Nuevo</a>

</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Calle</th>
                <th>Colonia</th>
            </tr>
            @foreach (var oElemento in Model)
            {
            <tr>
                <td>@oElemento.Id</td>
                <td>@oElemento.Nombre</td>
                <td>@oElemento.Apellido_paterno</td>
                <td>@oElemento.Apellido_materno</td>
                <td>@oElemento.Calle</td>
                <td>@oElemento.Colonia</td>
                <td>
                    <a class="btn btn-default" href="~/Alumno/Editar/@oElemento.Id">Editar</a>
                    <a class="btn btn-danger" href="~/Alumno/Eliminar/@oElemento.Id">Eliminar</a>
                </td>
            </tr>
            }
        </table>
    </div>

</div>

